<footer>
    <div class="contents">

        <ul class="inline-list">
            <li></li>
            <li><a href="http://letstalkbitcoin.com/"> Let's Talk Bitcoin!</a></li>
            <li><a href="http://ltbcoin.com/"> LTBcoin</a></li>
        </ul>

    </div>
</footer>