<footer>
    <div class="contents">

        <ul class="inline-list">
            <li><a href="mailto:support@coinmachine.co"><i class="fa fa-envelope-o"></i>Support</a></li>
            <li><a href="{{url('about')}}"><i class="fa fa-question"></i>About</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li><a href="{{url('about')}}"><i class="fa fa-github-square"></i>Source Code</a></li>
            <li><a href="http://ltbcoin.com/"><i class="fa fa-external-link"></i>LTBcoin</a></li>
            <li><a href="http://letstalkbitcoin.com/"><i class="fa fa-external-link"></i>Let's Talk Bitcoin!</a></li>
        </ul>

    </div>
</footer>