<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>{% block HTMLtitle %}EmailMe | CoinMachine{% endblock %}</title>
        <link rel="stylesheet" href="/public/vendor/foundation/css/foundation.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        {# favicons #}
        <link rel="icon" type="image/png" href="/public/img/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/public/img/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/public/img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/public/img/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/public/img/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/public/img/mstile-144x144.png">
        <meta name="application-name" content="EmailMe">

        {% block app_css %}
        {% endblock %}


        <script src="/public/vendor/modernizr/modernizr.js"></script>

        
    </head>
    <body>


{% block body %}
    {# body here #}
{% endblock %}


        {# footer scripts (at end of body) #}
        <script src="/public/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/public/vendor/foundation/js/foundation.min.js"></script>


{% block app_js %}
{# init any app specific scripts here #}
{% endblock %}

{% block foundation_init %}
        {# init foundation scripts here #}
        <script>$(document).foundation();</script>
{% endblock %}


    </body>
</html>
