{% extends "base/section.twig" %}


{% block sectionBody %}

<div class="row">
    <div class="medium-10 columns">

        <h3>Account Created</h3>

        <p>Thanks.  Check your email to confirm your signup and activate your account.</p>

    </div>
</div>


{% endblock %}


{% block app_js %}
{{ parent() }}
{% endblock %}
