{% extends "base/section.twig" %}


{% block sectionBody %}

<div class="row">
    <div class="medium-10 columns">

        <h3>Your Account Information</h3>

        <p>
            The email is on its way.  Please check your email and follow the link there to access your account.
        </p>

    </div>
</div>

{% endblock %}


